PORT=YOUR_SERVER_PORT
DB_HOST=YOUR_DB_HOST
DB_USER=YOUR_DB_USER
DB_PASSWORD=YOUR_DB_PASSWORD
DB_NAME=YOUR_DB_NAME
DB_PORT=YOUR_DB_PORTg
YOUTUBE_API_KEY=YOUR_YOUTUBE_DATA_API_KEY
OAUTH_CLIENT_ID=YOUR_OAUTH_CLIENT_ID
OAUTH_CLIENT_SECRET=YOUR_OAUTH_CLIENT_SECRET
SESSION_SECRET=YOUR_SESSION_SECRET